<div class="card">
  <h5 class="card-header text-center">Login Page</h5>
  <div class="card-body">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Password</label>
    </div>
    <a asp-controller="home" asp-action="index" class="btn btn-primary" style="float: right;">Login</a>
  </div>
</div>
